@charset "UTF-8";

/* *{
    border: solid 1px red;
} */

body {
     background-image: linear-gradient(to bottom, #9e2d80, #58149c, #340E59, #012340); /* fundo gradiente */
}

header h1 {
    text-align: center; /* alinha o texto */
    color: #0F2226; /* dar cor ao texto */
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 10px;
    margin: auto;
}

header p {
    color: #0F2226;
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 800px;
}

main h2 {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

main p {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#article {
    background-color: rgba(255, 255, 255, 0.247); /* cor de fundo */
    border-radius: 10px; /* arredondamento da borda */
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.300); /* sombreado ao redor da borda */
    padding: 10px; /* espaçamento entre as caixas */
    width: 800px; /* tamanho da caixa */
    margin: auto; /* centraliza a caixa */
    text-align: justify; /* alinha o texto */
}

footer {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;

    text-align: center;
    margin-top: 20px;
    color: #ffffff8f;
}